.Collapsible {
    background-color: #1168b3;
    color: white;
    font-family: verdana;
    width: 250px;
    height: 100vh;
  }
  
  .Collapsible .Collapsible__trigger {
    padding: 10px;
    display: block;
    width: 100%;
    cursor: pointer;
  }
  
  .Collapsible .Collapsible__contentInner {
    background-color: white;
    color: black;
    padding: 10px;
  }
  
  .Collapsible .Collapsible__contentInner div {
    padding: 5px;
  }