.layout_controls {
    background-color: #1168b3;
    color: white;
    font-family: verdana;
    width: 250px;
    height: 100vh;
  }
  
  .layout_controls .layout_controls__trigger {
    padding: 10px;
    display: block;
    width: calc(100% - 20px);
    cursor: pointer;
  }
  
  .layout_controls .layout_controls__contentInner {
    background-color: white;
    color: black;
    padding: 10px;
  }
  
  .layout_controls .layout_controls__contentInner div {
    padding: 5px;
  }